Host workstation1
    HostName workstation1.clear.ai
    User ubuntu
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no
    LocalForward 3001 localhost:8888
	LocalForward 3002 localhost:7474
    LocalForward 8000 localhost:8000  # For graphexp visualisation
