Host bittern
   Hostname bittern.csc.warwick.ac.uk
   User phrlaq

Host godzilla
   Hostname godzilla.csc.warwick.ac.uk
   User phrlaq

Host minerva
   Hostname minerva.csc.warwick.ac.uk
   User phrlaq

Host dubhe
   Hostname dubhe.csc.warwick.ac.uk
   User phrlaq

Host archer
    Hostname login.archer.ac.uk
    User phrlaq
