Host workstation1
    HostName workstation1.clear.ai
    User ubuntu
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no
    LocalForward 3001 localhost:8888
    LocalForward 3002 localhost:7474
    # For local connection to neptune:
    LocalForward 8182 companieshouse.cgdlwjudqi5h.eu-west-1.neptune.amazonaws.com:8182
